html, body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: lightblue;
}

footer {
    position: absolute;
    bottom: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

canvas {
    border: 2.5px solid lightblue;
    width: 500px;
    height: 500px;
    background-color: white;
    margin-bottom: 2%;
    cursor: pointer;
}

#main {
    display: flex;

}

#menu {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    transition-duration: 0.4s;

}

#difficulty {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gamemode {
    margin: 5%;
    background-color: lightblue;
    color: white;
    width: 10vw;
    text-align: center;
    border-style: solid;
    border-color: white;
    border-radius: 0.5px;
}

.gamemode:hover {
    cursor: pointer;
    background-color: white;
    color: lightblue;
    border-style: solid;
    border-color: lightblue;
    border-radius: 0.5px;
}

#jeu {
    transition-duration: 0.4s;
    width: 0%;
    height: 100vh;
    background-color: white;
    object-fit: contain;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#infos {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 400px;
}


#retour {
    cursor: pointer;
}

